<!doctype html>
<!--[if IE 9]> <html class="no-js ie9" lang="ru"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Инвестиции в МФК "Platiza"</title>
    <meta name="description" content="Инвестиции в МФК Platiza">
    <meta name="keywords" content="platiza">

    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#6c6d6a">
    <meta name="theme-color" content="#6c6d6a">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

    <!-- build:css css/vendors.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="/css/main-investors.css">
    <!-- endbuild -->

    <script>
        CALCULATOR_DEFAULTS = {
        {{ with .Params.sums }}
            // Сумма инвестиций
            d: {{ .sumStart }},
            dMin: {{ .sumMin }},
            dMax: {{ .sumMax }},
            dStep: {{ .sumStep }},
        {{ end }}

            // Тип перечисления процентов
            type: 'quarterly',

        {{ with .Params.percents }}
            // Процентная ставка
            p: {{ .percentStart }},
            pMin: {{ .percentMin }},
            pMax: {{ .percentMax }},
            pStep: {{ .percentStep }},
        {{ end }}

        {{ with .Params.monthlyPercents }}
        // Процентные ставки в зависимости от периода и типа получения процентов
            pMonthly1: {{ .monthlyPercentsPeriod1 }},
            pMonthly2: {{ .monthlyPercentsPeriod2 }},
        {{ end }}

        {{ with .Params.quarterlyPercents }}
        // Процентные ставки в зависимости от периода и типа получения процентов
            pQuarterly1: {{ .quarterlyPercentsPeriod1 }},
            pQuarterly2: {{ .quarterlyPercentsPeriod2 }},
        {{ end }}

        {{ with .Params.periods }}
            // Период
            t: {{ .periodStart }},
            tMin: {{ .periodMin }},
            tMax: {{ .periodMax }},
            tStep: {{ .periodStep }},
            tBoundary: {{ .periodBoundary }},
            T: 365 // Количество дней в году
        {{ end }}
        };
    </script>

</head>
<body>
