<!doctype html>
<!--[if IE 9]> <html class="no-js ie9" lang="ru"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Инвестиции в МФК "Platiza"</title>
    <meta name="description" content="Инвестиции в МФК Platiza">
    <meta name="keywords" content="platiza">

    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#6c6d6a">
    <meta name="theme-color" content="#6c6d6a">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>

    <!-- build:css css/vendors.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" href="/css/main-investors.css">
    <!-- endbuild -->

    <script>
        CALCULATOR_DEFAULTS = {
            // Сумма инвестиций
            d: {{ .Params.sumStart }},
        dMin: {{ .Params.sumMin }},
        dMax: {{ .Params.sumMax }},
        dStep: {{ .Params.sumStep }},

        // Тип перечисления процентов
        type: 'quarterly',

            // Процентная ставка
                p: {{ .Params.percentStart }},
        pMin: {{ .Params.percentMin }},
        pMax: {{ .Params.percentMax }},
        pStep: {{ .Params.percentStep }},

        // Процентные ставки в зависимости от периода и типа получения процентов
        pMonthly1: {{ .Params.MONTHLY_PERCENT_PERIOD1 }},
        pMonthly2: {{ .Params.MONTHLY_PERCENT_PERIOD2 }},
        pQuarterly1: {{ .Params.QUARTERLY_PERCENT_PERIOD1 }},
        pQuarterly2: {{ .Params.QUARTERLY_PERCENT_PERIOD2 }},

        // Период
        t: {{ .Params.PERIOD_START }},
        tMin: {{ .Params.PERIOD_MIN }},
        tMax: {{ .Params.PERIOD_MAX }},
        tStep: {{ .Params.PERIOD_STEP }},
        tBoundary: {{ .Params.PERIOD_BOUNDARY }},
        T: 365 // Количество дней в году
        };
    </script>

</head>
<body>