{{ partial "head-investor" . }}

<div class="wrapper-wr">

    <section class="c-promo">
        <div class="c-promo__logo">
            <a href="https://platiza.ru" class="c-promo__logo-link" target="_blank">
                <svg class="c-logo" width="86px" height="36px" viewBox="0 0 86 36" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g fill="#FFFFFF">
                            <g>
                                <path d="M0.169633028,26.7302919 C1.81408716,24.4796108 7.99326606,24.3974919 9.97955046,26.4886054 L9.97955046,32.4198486 C9.0171789,33.3542919 7.09578899,33.8197622 5.17262385,33.8197622 C4.43827064,33.8197622 3.69070183,33.7070919 3.00684404,33.4986811 L3.00684404,35.813773 L0.169633028,35.813773 L0.169633028,26.7302919 Z M7.35576147,27.9838703 L7.35576147,27.9838703 C6.03637156,27.5008865 4.32426147,27.5008865 3.00684404,27.9838703 L3.00684404,31.2162811 C4.3558211,31.6817514 6.00441743,31.5702486 7.35576147,31.1038054 L7.35576147,27.9838703 L7.35576147,27.9838703 Z"></path>
                                <polyline points="13.0765367 35.813773 13.0765367 25.3313514 16.059711 25.3313514 16.059711 33.2081514 20.6218532 33.2081514 20.6218532 35.813773 13.0765367 35.813773"></polyline>
                                <path d="M33.3707615,35.813773 L30.5353257,35.813773 L30.5353257,33.5302054 L26.184633,33.5302054 L26.184633,35.813773 L23.3470275,35.813773 L23.3470275,26.7302919 C25.0591376,24.3974919 31.6586514,24.3974919 33.3707615,26.7302919 L33.3707615,35.813773 Z M30.5353257,30.9101838 L30.5353257,28.1128865 C29.2139633,27.6131676 27.5038257,27.6131676 26.184633,28.1128865 L26.184633,30.9101838 L30.5353257,30.9101838 L30.5353257,30.9101838 Z"></path>
                                <polyline points="35.6992706 27.936 35.6992706 25.3313514 45.7200459 25.3313514 45.7200459 27.936 42.3467156 27.936 42.3467156 35.813773 39.0704312 35.813773 39.0704312 27.936 35.6992706 27.936"></polyline>
                                <polygon points="48.329633 35.813773 51.1625046 35.813773 51.1625046 25.3313514 48.329633 25.3313514"></polygon>
                                <polyline points="54.3419404 28.1286486 54.3419404 25.3313514 63.8755138 25.3313514 63.8755138 27.7589189 58.5133349 33.0168649 64.1202982 33.0168649 64.1202982 35.813773 54.0993257 35.813773 54.0993257 33.3865946 59.6555963 28.1286486 54.3419404 28.1286486"></polyline>
                                <path d="M77.078289,35.813773 L74.241078,35.813773 L74.241078,33.5302054 L69.8899908,33.5302054 L69.8899908,35.813773 L67.0549495,35.813773 L67.0549495,26.7302919 C68.7648899,24.3974919 75.3661789,24.3974919 77.078289,26.7302919 L77.078289,35.813773 Z M74.241078,30.9101838 L74.241078,28.1128865 C72.9195183,27.6131676 71.2113532,27.6131676 69.8899908,28.1128865 L69.8899908,30.9101838 L74.241078,30.9101838 L74.241078,30.9101838 Z"></path>
                                <path d="M74.1564587,19.6489946 C76.0143349,19.6489946 78.2540826,18.1640432 79.159844,16.3313514 L85.5859771,3.33321081 C86.4917385,1.50265946 85.7191193,0.015372973 83.8610459,0.015372973 L68.7268211,0.015372973 C66.868945,0.015372973 64.6270275,1.50265946 63.7214633,3.33321081 L57.295133,16.3313514 C56.5309954,17.876627 55.7055138,19.2823784 54.0738807,19.6489946 L74.1564587,19.6489946"></path>
                                <path d="M44.7996881,10.7381189 C43.5373028,10.7381189 43.0349128,11.7492324 43.6785321,12.9926919 L45.9522064,17.3955892 C46.5964174,18.6400216 48.1396835,19.6489946 49.4018716,19.6489946 C50.0308945,19.6489946 50.7445367,19.6990054 51.4390459,19.6489946 C53.1111147,19.5312649 54.289078,17.876627 55.0534128,16.3313514 L57.3477982,11.6900757 C56.6388899,11.1150486 55.7646881,10.7381189 54.9942385,10.7381189 L44.7996881,10.7381189"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <div class="c-promo__text">
            Инвестируйте выгодно:
            <div class="c-promo__text-feat">доход до <?php echo Config::MAX_PERCENT; ?>%</div>
        </div>
    </section>

    <section class="c-calculator js-calculator-invest">

        <div class="c-calculator__row">
            <div class="c-calculator__col4">

                <div class="c-calculator__block">
                    <div class="o-calc-label">Сумма инвестиций:</div>

                    <div class="c-calc-slider js-calc-slider">
                        <div class="c-calc-slider__line">
                            <input type="hidden" name="sumInvest" value="<?php echo Config::SUM_START; ?>" class="js-invest-sum-input">
                            <div class="c-calc-slider__part c-calc-slider__part_input"><span class="js-invest-sum-value"><?php echo Config::SUM_START; ?></span></div>
                            <div class="c-calc-slider__part c-calc-slider__part_info">рублей</div>
                        </div>

                        <div class="c-calc-slider__slider o-slider">
                            <div class="o-slider__item js-slider-sum"></div>
                        </div>
                    </div>
                </div>

                <div class="c-calculator__block">
                    <div class="o-calc-label">Срок инвестиций:</div>

                    <div class="c-calc-slider js-calc-slider">
                        <div class="c-calc-slider__line">
                            <input type="hidden" name="periodInvest" value="<?php echo Config::PERIOD_START; ?>" class="js-invest-period-input">
                            <div class="c-calc-slider__part c-calc-slider__part_input"><span class="js-invest-period-value"><?php echo Config::PERIOD_START; ?></span></div>
                            <div class="c-calc-slider__part c-calc-slider__part_info">месяцев</div>
                        </div>

                        <div class="c-calc-slider__slider o-slider">
                            <div class="o-slider__item js-slider-period"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="c-calculator__col4">

                <div class="c-calculator__block">
                    <div class="o-calc-label">Перечисление процентов:</div>

                    <div class="c-calc-radio-group">

                        <div class="c-calc-radio">
                            <input type="radio" class="c-calc-radio__control js-percents" name="loanType[]" id="loanType1" value="quarterly" checked>
                            <label for="loanType1" class="c-calc-radio__label">Ежеквартально</label>
                        </div>

                        <div class="c-calc-radio">
                            <input type="radio" class="c-calc-radio__control js-percents" name="loanType[]" id="loanType2" value="monthly">
                            <label for="loanType2" class="c-calc-radio__label">Ежемесячно</label>
                        </div>
                    </div>
                </div>

                <div class="c-calculator__block">
                    <div class="o-calc-label">Ставка:</div>

                    <div class="c-calc-slider js-calc-slider">
                        <div class="c-calc-slider__line">
                            <input type="hidden" name="percentInvest" value="<?php echo Config::PERCENT_START; ?>" class="js-invest-percent-input">
                            <div class="c-calc-slider__part c-calc-slider__part_input"><span class="js-invest-percent-value"><?php echo Config::PERCENT_START; ?></span> %</div>
                            <div class="c-calc-slider__part c-calc-slider__part_info">годовых</div>
                        </div>

                        <div class="c-calc-slider__slider o-slider">
                            <div class="o-slider__item js-slider-percent"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="c-calculator__col4">

                <div class="c-calculator__block">
                    <div class="o-calc-label">Прибыль:</div>

                    <div class="c-calc-table js-calc-table-quarterly">
                        <div class="c-calc-table__part c-calc-table__part_info">В квартал</div>
                        <div class="c-calc-table__part c-calc-table__part_sum"><span class="js-calc-sum-quarterly">0</span> ₽</div>
                    </div>

                    <div class="c-calc-table js-calc-table-monthly is-hidden">
                        <div class="c-calc-table__part c-calc-table__part_info">В месяц</div>
                        <div class="c-calc-table__part c-calc-table__part_sum"><span class="js-calc-sum-monthly">0</span> ₽</div>
                    </div>

                    <div class="c-calc-table c-calc-table_feat">
                        <div class="c-calc-table__part c-calc-table__part_info">Итого</div>
                        <div class="c-calc-table__part c-calc-table__part_sum"><span class="js-calc-sum-total">0</span> ₽</div>
                    </div>

                    <a href="javascript: void(0);" class="o-pltz-btn o-pltz-btn_t1 o-pltz-btn_full js-modal-link" onclick="yaCounter13635434.reachGoal('INVEST_CALC'); return true;">Инвестировать</a>
                </div>

            </div>
        </div>

    </section>

    <section class="c-features">
        <h1 class="c-features__title o-pltz-h1">Инвестиции в МФК "Platiza" - это выгодно, безопасно и удобно!</h1>

        <div class="c-features__item">
            <div class="c-features__item-part c-features__item-part_feat">
                    <span class="c-features__item-icon">
                        <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-30.000000, -685.000000)">
                                    <g transform="translate(30.000000, 622.000000)">
                                        <g transform="translate(0.000000, 63.000000)">
                                            <rect x="0" y="0" width="48" height="48"></rect>
                                            <g transform="translate(5.000000, 13.000000)" stroke="#149B49" stroke-width="2">
                                                <path d="M0,22 L12.580561,9.41943899 C13.3644955,8.63550448 14.6277466,8.62774658 15.4118241,9.41182411 L20.5881759,14.5881759 C21.3679048,15.3679048 22.627219,15.372781 23.4198933,14.5801067 L38,0"></path>
                                                <polyline points="28 0 38 0 38 10"></polyline>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                <span class="c-features__item-title">Выгодно</span>
            </div>

            <div class="c-features__item-part c-features__item-part_descr">
                <ul class="c-features__list">
                    <li class="c-features__list-item">Высокий процент (до&nbsp;<?php echo Config::MAX_PERCENT; ?>%)</li>
                    <li class="c-features__list-item">Гибкие условия</li>
                </ul>
            </div>
        </div>

        <div class="c-features__item">
            <div class="c-features__item-part c-features__item-part_feat">
                    <span class="c-features__item-icon">
                        <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-30.000000, -786.000000)">
                                    <g transform="translate(30.000000, 622.000000)">
                                        <g transform="translate(0.000000, 164.000000)">
                                            <rect x="0" y="0" width="48" height="48"></rect>
                                            <g transform="translate(6.000000, 2.000000)">
                                                <path d="M1,8.6772834 L1,8.02741031 L0.406138466,8.94122186 L1,8.6772834 Z M18.0308366,1.10802269 L18.873064,0.733699392 L18.9805807,0.196116135 L18,0 L17.5938615,0.913811549 L18.0308366,1.10802269 Z M35,8.64987309 L35.5938615,8.91381155 L35,8 L35,8.64987309 Z M17.9635576,42.9474941 C17.871215,42.9821008 17.7785577,43.016355 17.6855873,43.0502547 L17.4055889,43.1523503 L17.1990165,43.4287239 L18,44.0274103 L18.3417431,43.0876169 C18.2151001,43.0415649 18.089037,42.9948557 17.9635576,42.9474941 Z M17.9635576,42.9474941 C7.421855,38.9685777 1,30.3848814 1,20.0274103 L1,8.6772834 L18.0308366,1.10802269 L35,8.64987309 L35,20 C35,30.3809402 28.5490267,38.9804436 17.9635576,42.9474941 Z" stroke="#149B49" stroke-width="2"></path>
                                                <g transform="translate(10.000000, 19.000000)">
                                                    <path d="M11.5931009,6.87714811 C12.2844037,6.87714811 13.1177982,6.35741514 13.4548257,5.71597297 L15.845945,1.16662378 C16.1829725,0.525930811 15.8954862,0.00538054054 15.2041101,0.00538054054 L9.57277064,0.00538054054 C8.88146789,0.00538054054 8.04726606,0.525930811 7.71031193,1.16662378 L5.31911927,5.71597297 C5.03478899,6.25681946 4.72763303,6.74883243 4.12051376,6.87714811 L11.5931009,6.87714811" fill="#169145"></path>
                                                    <path d="M0.669651376,3.75834162 C0.199926606,3.75834162 0.0129908257,4.11223135 0.252477064,4.54744216 L1.09849541,6.08845622 C1.33820183,6.52400757 1.91244037,6.87714811 2.38209174,6.87714811 C2.61614679,6.87714811 2.88168807,6.89465189 3.14011009,6.87714811 C3.76227523,6.8359427 4.20058716,6.25681946 4.48499083,5.71597297 L5.3387156,4.09152649 C5.07493578,3.89026703 4.74965138,3.75834162 4.46297248,3.75834162 L0.669651376,3.75834162" fill="#345F33"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                <span class="c-features__item-title">Безопасно</span>
            </div>

            <div class="c-features__item-part c-features__item-part_descr">
                <ul class="c-features__list">
                    <li class="c-features__list-item">Крупнейшая компания на рынке с известными акционерами</li>
                    <li class="c-features__list-item">Деятельность компании регулируется ЦБ&nbsp;РФ</li>
                    <li class="c-features__list-item">Свидетельство о&nbsp;статусе&nbsp;МФК</li>
                </ul>
            </div>
        </div>

        <div class="c-features__item">
            <div class="c-features__item-part c-features__item-part_feat">
                    <span class="c-features__item-icon">
                        <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-30.000000, -887.000000)">
                                    <g transform="translate(30.000000, 622.000000)">
                                        <g transform="translate(0.000000, 265.000000)">
                                            <g>
                                                <rect x="0" y="0" width="48" height="48"></rect>
                                                <g transform="translate(2.000000, 11.000000)" stroke="#149B49" stroke-width="2">
                                                    <path d="M1,10.99923 L1,25.0092049 C1,25.5516023 1.44896802,26 1.99810135,26 L6.00189865,26 C6.55849916,26 7,25.5589129 7,25.0092049 L7,10.99923 C7,9.3440461 5.65614805,8 4,8 C2.34587172,8 1,9.34456891 1,10.99923 Z"></path>
                                                    <path d="M37,10.99923 L37,25.0092049 C37,25.5516023 37.448968,26 37.9981014,26 L42.0018986,26 C42.5584992,26 43,25.5589129 43,25.0092049 L43,10.99923 C43,9.3440461 41.656148,8 40,8 C38.3458717,8 37,9.34456891 37,10.99923 Z"></path>
                                                    <rect x="7" y="16" width="30" height="10" rx="4"></rect>
                                                    <path d="M7,3.9947834 L7,16.0049107 C7,16.554088 7.44749362,17 8.00174332,17 L35.9982567,17 C36.5562612,17 37,16.5566732 37,16.0049107 L37,3.9947834 C37,2.34330582 35.6542506,1 33.9957423,1 L10.0042577,1 C8.3422184,1 7,2.33990702 7,3.9947834 Z"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </span>
                <span class="c-features__item-title">Удобно</span>
            </div>

            <div class="c-features__item-part c-features__item-part_descr">
                <ul class="c-features__list">
                    <li class="c-features__list-item">Заключи договор и получай доход на свой счёт ежемесячно и ежеквартально</li>
                    <li class="c-features__list-item">Мы заплатим за вас все налоги</li>
                </ul>
            </div>
        </div>

    </section>

    <section class="c-why">
        <div class="c-why__item c-why__item_rtl">
            <div class="c-why__item-part c-why__item-part_icon">
                <img src="images/icon_shield.png" alt="Зачем вкладываться в МФО?" class="c-why__icon">
            </div>
            <div class="c-why__item-part c-why__item-part_info">
                <h2 class="c-why__title o-pltz-h2">Зачем вкладываться в МФО?</h2>

                <p class="c-why__par">
                    Микрофинансовые организации продолжают расти и в кризис. Простые граждане и профессиональные инвесторы ищут новые способы сохранения и преумножения своих средств и все чаще выбирают для инвестиций вложения в микрофинансовые компании.
                </p>
                <p class="c-why__par">
                    Инвестиции в Platiza под высокий процент - выгодное решение и хорошая альтернатива традиционным банковским вкладам!
                </p>

                <p class="c-why__par">
                    <a href="javascript: void(0);" class="o-pltz-btn o-pltz-btn_t2 js-modal-link" onclick="yaCounter13635434.reachGoal('INVEST_WHY'); return true;">Инвестировать</a>
                </p>
            </div>
        </div>

        <div class="c-why__item">
            <div class="c-why__item-part c-why__item-part_icon">
                <img src="images/icon_graph.png" alt="Выгодные условия" class="c-why__icon">
            </div>
            <div class="c-why__item-part c-why__item-part_info">
                <h2 class="c-why__title o-pltz-h2">Выгодные условия</h2>

                <p class="c-why__par">
                    Доходность до <?php echo Config::MAX_PERCENT; ?>%, что в несколько раз выше процентов по банковским вкладам. Инвестиции в МФК "Platiza" надежно защищены и обеспечиваются собственным высокопрофессиональным опытом лидирующей компании на рынке.
                </p>
                <p class="c-why__par">
                    На выбор для инвесторов предлагается широкая инвестиционная линейка от 12 месяцев с доходностью до <?php echo Config::MAX_PERCENT; ?>% годовых.
                </p>
                <p class="c-why__par">
                    Для инвесторов предусмотрена как ежемесячная, так и ежеквартальная выплата процентов.
                </p>

                <p class="c-why__par">
                    <a href="javascript: void(0);" class="o-pltz-btn o-pltz-btn_t2 js-modal-link" onclick="yaCounter13635434.reachGoal('INVEST_PROFIT'); return true;">Инвестировать</a>
                </p>
            </div>
        </div>
    </section>

    <section class="c-join">
        <h2 class="c-join__title o-pltz-h2">Стать инвестором «Platiza» быстро и легко!</h2>

        <p class="c-join__par">
            Для крупных вкладчиков при сумме вложений более 5 млн. руб. действуют индивидуальные условия.<br />
            Заполните онлайн-заявку на инвестиции, и наш менеджер свяжется с вами для уточнения деталей.
        </p>
        <p class="c-join__par">
            <a href="javascript: void(0);" class="o-pltz-btn o-pltz-btn_t3 js-modal-link" onclick="yaCounter13635434.reachGoal('INVEST_PERSONAL'); return true;"><span class="pltz-hidden-xs">Получить </span>персональное предложение</a>
        </p>
    </section>

    <section class="c-stats">

        <div class="c-stats__block">
            <h2 class="c-stats__title o-pltz-h2">Platiza в цифрах</h2>

            <div class="c-stats__items c-stats__items_xs">

                <div class="c-stats__item">

                    <div class="c-stats__items">

                        <div class="c-stats__item c-stats__item_c2">
                            <div class="c-stats__num">6 лет</div>
                            <div class="c-stats__text">на рынке</div>
                        </div>

                        <div class="c-stats__item c-stats__item_c2">
                            <div class="c-stats__num">2,5 млрд</div>
                            <div class="c-stats__text">выдано займов</div>
                        </div>
                    </div>

                </div>

                <div class="c-stats__item">

                    <div class="c-stats__items">

                        <div class="c-stats__item">
                            <div class="c-stats__num">1 млн</div>
                            <div class="c-stats__text">клиентов</div>
                        </div>

                        <div class="c-stats__item">
                            <div class="c-stats__num">40%</div>
                            <div class="c-stats__text">ежегодный рост</div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="c-stats__block">
            <h2 class="c-stats__title o-pltz-h2">Акционеры Platiza</h2>

            <div class="c-stats__descr">Международные инвестиционные фонды</div>

            <div class="c-stats__items c-stats__items_xs">
                <div class="c-stats__item">
                    <img class="c-stats__logo" src="images/logo_finsight.png" alt="FinSight" />
                </div>

                <div class="c-stats__item">
                    <img class="c-stats__logo" src="images/logo_flint-capital.png" alt="Flint Capital" />
                </div>

                <div class="c-stats__item">
                    <img class="c-stats__logo" src="images/logo_prostor-capital.png" alt="Prostor Capital" />
                </div>
            </div>

        </div>

        <div class="c-stats__block">
            <h2 class="c-stats__title o-pltz-h2">Партнёры</h2>

            <div class="c-stats__items">
                <div class="c-stats__item c-stats__item_c1">
                    <div class="c-stats__descr">Популярные платежные системы</div>

                    <div class="c-stats__items c-stats__items_xs c-stats__items_eq-height">
                        <div class="c-stats__item">
                            <img class="c-stats__logo" src="images/logo_yandex-dengi.png" alt="Yandex.Деньги" />
                        </div>

                        <div class="c-stats__item">
                            <img class="c-stats__logo" src="images/logo_qiwi-wallet.png" alt="Flint Qiwi Wallet" />
                        </div>

                        <div class="c-stats__item">
                            <img class="c-stats__logo" src="images/logo_banks.png" alt="Крупнейшие российские банки" />
                        </div>
                    </div>
                </div>

                <div class="c-stats__item c-stats__item_c1">
                    <div class="c-stats__descr">Бюро кредитных историй </div>

                    <div class="c-stats__items c-stats__items_xs c-stats__items_eq-height">
                        <div class="c-stats__item">
                            <img class="c-stats__logo" src="images/logo_nbki.png" alt="Национальное Бюро Кредитных Историй" />
                        </div>

                        <div class="c-stats__item">
                            <img class="c-stats__logo" src="images/logo_okb.png" alt="Объединенное Кредитное Бюро" />
                        </div>

                        <div class="c-stats__item">
                            <img class="c-stats__logo" src="images/logo_equifax.png" alt="Equifax" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="c-about">
        <h2 class="c-about__title o-pltz-h2">O Platiza</h2>

        <p class="c-about__par">
            Platiza (Платиза) — онлайн-сервис мгновенной финансовой помощи, который не просто выдаёт краткосрочные займы, но и помогает заёмщикам улучшать кредитную историю. Сервис начал свою работу в 2011 году и сразу стал одним из лидеров в сфере онлайн-микрокредитования в России.<br >
            Акционеры Platiza — международные инвестиционные фонды FinSight Ventures, Flint Capital и Prostor Capital. Партнеры — популярные платежные системы Яндекс.Деньги, QIWI Visa Wallet, поставщик услуг информационной безопасности Deiteriy, бюро кредитных историй НБКИ, ОКБ и Equifax, а также крупнейшие российские банки.
        </p>
        <p class="c-about__par">
            Моментальные онлайн-займы выдаются на сумму от 1000 до 15 000 рублей и срок от 5 до 45 дней. Процентная ставка составляет от 0,5% в день, средняя ставка – 2% в день. Получение занимает всего 3 минуты. Сервисом пользуются десятки тысяч клиентов по всей территории России. Стремительно набирает популярность пользователей уникальное мобильное приложение собственной разработки "Balance. Финансовое равновесие", позволяющее управлять личными финансами напрямую со своего смартфона.
        </p>
        <p class="c-about__par">
            Надежность сервиса гарантируется инновационными разработками, такими как собственная скоринговая система, использующая алгоритмы искусственного интеллекта и нейронные сети, а также разработанный в компании уникальный способ подтверждения личности клиента — видеоидентификация.
        </p>

        <p class="c-about__par">
            <a href="https://platiza.ru/about" class="o-pltz-btn o-pltz-btn_t2" target="_blank">Подробнее о компании</a>
        </p>
    </section>

    <section class="c-juri">
        <p class="c-juri__par">
            Изложенное на данной странице не является публичной офертой. До заключения договора инвестиционного займа Вам необходимо ознакомиться с информацией, раскрываемой на сайте https://platiza.ru/. Суммы расчётов являются примером и приведены для ознакомительных целей до совершения оферт. Конкретные условия инвестиционного займа будут согласованы с Вами в договоре. МФК может не заключить с Вами договор инвестиционного займа после изучения информации, предоставленной Вами. Доходность по займам в прошлом не свидетельствует об однозначной доходности в будущем. Номер в реестре микрофинансовых организаций 651203045001237.
        </p>
    </section>

</div>

<footer class="c-footer">

    <div class="c-footer__cont pltz-grid ">

        <div class="pltz-row">

            <div class="c-footer__col c-footer__col_first">

                <div class="c-footer__button-wr">
                    <a class="c-footer__btn o-pltz-btn o-pltz-btn_dashed-bg" target="_blank" href="https://platiza.ru/help/connect#mail">Написать сообщение</a>
                </div>

                <div class="c-footer__button-wr">
                    <a class="c-footer__btn o-pltz-btn o-pltz-btn_dashed-bg" target="_blank" href="https://platiza.ru/help/connect#phone">Заказать звонок</a>
                </div>

            </div>

            <div class="c-footer__col c-footer__col_second">
                Номер телефона:<br class="c-footer__br"><span class="c-footer__marked"> 8 (495) 201-60-35</span><br>
                с 10.00 до 19.00 Мск
            </div>

            <div class="c-footer__col c-footer__col_third">
                © 2011-2017 Микрофинансовая компания «Платиза.ру»&nbsp;(общество с&nbsp;ограниченной ответственностью)<br>
                Все&nbsp;авторские права&nbsp;защищены
            </div>

        </div>

    </div>
</footer>

<a class="o-totop js-totop">
            <span class="o-totop__pic">
                <svg width="18px" height="10px" viewBox="0 0 18 10" version="1.1" xmlns="http://www.w3.org/2000/svg" class="o-totop__icon">
                    <defs></defs>
                    <g class="o-totop__icon-fill" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g class="o-totop__icon-fill" transform="translate(-15.000000, -19.000000)">
                            <path d="M23.9986791,19.0010368 C24.2848021,19.0010347 24.5711916,19.1091338 24.7899117,19.3253419 L32.670877,27.1157952 C33.1074232,27.5473277 33.1113323,28.2431158 32.6728272,28.6765847 C32.2373581,29.1070525 31.5306941,29.1064306 31.0939039,28.674657 L23.999475,21.6617068 L16.9050461,28.674657 C16.4685,29.1061894 15.764628,29.1100537 15.3261229,28.6765847 C14.8906538,28.2461169 14.8912829,27.5475689 15.328073,27.1157952 L23.2090383,19.3253419 C23.4276362,19.1092546 23.7132646,19.0004028 23.9990392,19 L23.9986791,19.0010368 Z" id="ic_topper_arrow"></path>
                        </g>
                    </g>
                </svg>
            </span>
    <span class="o-totop__text">Вверх</span>
</a>

<form method="post" action="./invest-form.php" class="c-form-modal c-form-modal_invest js-modal-form">
    <div class="c-form-modal__close js-modal-close">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-755.000000, -99.000000)" fill-rule="nonzero" fill="#90A4AE">
                    <g transform="translate(755.000000, 99.000000)">
                        <polygon points="19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12"></polygon>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <input type="hidden" value="" name="sumChosenInvest" id="sumChosenInvest" class="js-invest-sum-chosen">
    <input type="hidden" value="" name="periodChosenInvest" id="periodChosenInvest" class="js-invest-period-chosen">
    <input type="hidden" value="" name="typeChosenInvest" id="typeChosenInvest" class="js-invest-type-chosen">

    <div class="c-form-modal__title o-pltz-h2">
        Инвестировать <br />
        <span class="js-invest-sum-chosen-span">2 600 000</span> рублей
    </div>

    <div class="c-form-modal__loader"></div>

    <div class="c-form-modal__info">
        Для уточнения индивидуальных условий, отправьте контактные данные. В ближайшее время мы направим вам расчет инвестиционного плана и уточним все детали.
    </div>

    <div class="c-form-modal__item form-group js-form-item">
        <input type="text" class="o-pltz-text-input" value="" id="nameInvest" name="nameInvest" />
        <label class="control-label" for="nameInvest">Имя</label>
        <div class="o-form-info"></div>
    </div>

    <div class="c-form-modal__item form-group js-form-item">
        <input type="text" class="o-pltz-text-input" value="" id="emailInvest" name="emailInvest" />
        <label class="control-label" for="emailInvest">e-mail</label>
        <div class="o-form-info"></div>
    </div>

    <div class="c-form-modal__item form-group js-form-item">
        <input type="text" class="o-pltz-text-input js-input-phone" value="" id="phoneInvest" name="phoneInvest" />
        <label class="control-label" for="phoneInvest">Телефон</label>
        <div class="o-form-info">Поле обязательно к заполнению</div>
    </div>

    <div class="c-form-modal__item">
        <button type="submit" class="o-pltz-btn o-pltz-btn_t1 o-pltz-btn_full" name="submitInvest" onclick="yaCounter13635434.reachGoal('INVEST_ORDER'); return true;">Отправить заявку</button>
    </div>

</form>

{{ partial "footer-investors" . }}
